{% extends 'base.html' %}
{% block title %}Rubriques | Valeurs Africaines{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h1>Rubriques</h1>
        <div class="tags">
            <span>Economie</span>
            <span>Defense et securite</span>
            <span>Renseignement</span>
            <span>Conflits et guerres</span>
            <span>Economie politique</span>
            <span>Ressources strategiques</span>
            <span>Diplomatie</span>
            <span>Culture</span>
            <span>Religion</span>
        </div>
    </div>
</section>
{% endblock %}
